@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">疫苗預約平台</h1>
    <!--<img src="images\pexels-pixabay-159806.jpg" width="50%" height="50%"/>-->
    <div class="col-md-12">
        <div class="row-slide">
            <p>
                <span style="font-size: 20px;">
                    <font color="#0000FF">
                        <b>
                            疫苗種類
                        </b>
                    </font>
                </span>
            </p>
            <p style="margin-left: 25px;">兒童莫德納次世代BA.4／5(滿6歲-11歲，限追加劑)、莫德納次世代BA.4／5(滿12歲以上，限追加劑)、幼兒莫德納(滿6個月-5歲)、兒童莫德納(滿6歲-11歲)、幼兒BNT(滿6個月-4歲)、兒童BNT(滿5歲-11歲)、BNT(滿12歲以上)、Novavax(滿12歲以上)</p>
            <p>
                <span style="font-size: 20px;">
                    <font color="#0000FF">
                        <b>
                            登記資格
                        </b>
                    </font>
                </span>
            </p>
            <p>
                <font color="#FF0000">
                    我是滿18歲以上者：
                </font>
            </p>
            <p style="margin-left: 25px;">接種第1劑：本期可接種BNT、Novavax疫苗。</p>
            <p style="margin-left: 25px;">接種第2劑：111年12月12日(含)前完成接種第1劑者，可接種BNT、Novavax疫苗。</p>
            <p style="margin-left: 25px;">接種第3劑(追加劑)：111年10月17日(含)前已完成接種2劑疫苗者，可接種BNT、Novavax或莫德納次世代疫苗。</p>
            <p style="margin-left: 25px;">接種第4劑(第2次追加劑)：111年10月17日(含)前已完成接種第1次追加劑疫苗者，可接種BNT、Novavax或莫德納次世代疫苗。</p>
            <p style="margin-left: 25px;">接種第5劑(第3次追加劑)：111年10月17日(含)前已完成接種第2次追加劑疫苗者，可接種BNT、Novavax或莫德納次世代疫苗。</p>
            <p style="margin-left: 25px;">接種第6劑(第4次追加劑)：111年10月17日(含)前已完成接種第3次追加劑疫苗者，可接種BNT、Novavax或莫德納次世代疫苗。</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card text-white bg-info">
            <div class="card-header">臺北市政府衛生局新冠肺炎COVID-19疫苗接種登記系統電話諮詢專線，請撥(02)2375-3782 (週一至週五上午9點至下午5點)</div>
        </div>
    </div>
</div>
