@page
@model PrivacyModel
@{
    ViewData["Title"] = "注意事項";
}
<h1>@ViewData["Title"]</h1>

<h3>注意事項</h3>
<div class="container">
    <p>國外民眾欲接種COVID-19疫苗，如具有身分證號(或居留證號/統一證號)即可預約接種，不受是否具健保身分限制，如已在國外接種疫苗，需先至就近健康服務中心或衛生所辦理接種紀錄補登，接種時攜帶身分證件前往醫療院所接種。如已除籍民眾欲恢復戶籍，可至內政部戶政司網站查看應備文件。</p>
    <p>補登國外COVID-19疫苗接種紀錄，需攜帶個人身分證明文件(身分證/居留證/統一證號文件、護照)、原始紙本疫苗接種證明(如為數位證明請先自行印出)，疫苗接種證明至少需載明「完整姓名」、「出生年月日」、「疫苗接種日期」、「疫苗接種廠牌」及「疫苗接種劑次」等資訊，並有可辨識的核發單位。</p>
    <p>接種高端疫苗需出國者，依照入境國查驗需求，可接種其他廠牌第1-3劑疫苗，接種時請出具相關證明文件(如電子機票、就學／工作證明等)。</p>
</div>

<ol class="list-group list-group-numbered">
    <li class="list-group-item">文件下載</li>
</ol>
